

<%= form_tag("/posts/create",{multipart: true}) do %>
<div class="post-item create">
  <i id="post-new-close" class="far fa-window-close"></i>
  <div class="post-top">
    <object>
      <%= link_to("/users/#{@current_user.id}",{class: "user-image-link"}) do %>
      <img class="user-image" src="<%= "/user_images/#{@current_user.image_name}" %>">
      <% end %>
    </object>
    <object><p><%= link_to("#{@current_user.name}", "/users/#{@current_user.id}") %> </p></object>
  </div>

  <div class="post-images">

  </div>
  <div class="media-wrapper">
    <input id="camera0" class="hidden-field" type="file" name="image1">
    <input id="camera1" class="hidden-field" type="file" name="image2">
    <input id="camera2" class="hidden-field" type="file" name="image3">
    <input id="camera3" class="hidden-field" type="file" name="image4">
    <label id="camera" for="camera0"><i class="fas fa-camera"></i></label>
  </div>
  <textarea id="post-content" name="content" placeholder="テキストを入力" rows="8" cols="80"></textarea>

  <div class="post-sentence">
      <div class="hashtag-input-wrapper">
        <div id="hash-input-container">
          <div class="input-text__dummy js-dummy-input-text" data-placeholder="#タグ"></div>
          <input id="hash-input" class="input-text js-input-text" type="text" placeholder="#タグ" autocomplete="off" size="255">
        </div>
        <input class="un-show" id="result" type="text" name="post_tags" value="">
      </div>
  </div><!-- post-sentence -->

  <div class="post-bottom">
    <input class="un-show" type="button" id="send-btn" onclick="submit();" name="" value="">
    <label for="send-btn"><span class="post-send-btn">送信する</span></label>
  </div><!-- post-bottom -->
</div>

<% end %>

<!--
<div class="show-center">
  <div class="post_form">
    <p>内容</p>
    <textarea name="content" rows="8" cols="80"></textarea>


    <div class="hash-wrapper">

    </div>

    <p>画像</p>
    <input type="file" name="image1">
    <input type="file" name="image2">
    <input type="file" name="image3">
    <input type="file" name="image4">
    <input type="submit">
    <p style="color: white" id="test" >test</p>
  </div>

</div>
-->

'<div class="image-preview-container">
  <img id="' + targetId + '" class="image-preview" src="" alt="">
  <i id="' + targetId-close + '" class="fa fa-window-close" aria-hidden="true"></i>
</div>'
