<%= form_tag("posts/create") do %>

<div class="post_form">
  <p>内容</p>
  <textarea name="content" rows="8" cols="80"></textarea>
  <p>画像</p>
  <input type="file" name="image1">
  <input type="file" name="image2">
  <input type="file" name="image3">
  <input type="file" name="image4">

</div>


<% end %>
