<%= form_tag("/posts/create",{multipart: true}) do %>

<div class="post_form">
  <p>内容</p>
  <textarea name="content" rows="8" cols="80"></textarea>
  <input id="hash-input" type="text" name="post_tags" size="255">
  <p>画像</p>
  <input type="file" name="image1">
  <input type="file" name="image2">
  <input type="file" name="image3">
  <input type="file" name="image4">
  <input type="submit">
  <p style="color: white" id="test" >test</p>
</div>


<% end %>
