/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
      margin: 0px;
      background-color: #232f34;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.main-content-wrapper {
  width: 100%;
  padding: 0 0px;
  margin-left: auto;
  margin-right: auto;

}
header {
  height: 30px;
  position: sticky;
  top: 0;
  background-color: orange;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 6px 6px;
  z-index: 100;
}

header h1{
  font-size: 18px;
}

header input {
  height: 20px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
li {
  border-left: 1px solid black;
  padding: 0 10px;
}
