// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.grid-item {
     width: 140px;
     margin:5px;
     box-sizing:border-box;
     padding:2rem;
     font-size:2rem;
     background: blue;
     border-radius:6px;
}
.grid-item--large {
     width: 140px;
     height: 300px;
}
.post-item {
  width: 300px;
  background-color: #fff;
  margin: 0 6px 6px 0;
  min-height: 60px;
  color: #333;
  box-sizing: border-box;
  //transition: background-color 0.3s;
}

.post-link {
  margin: 0;
}
.post-top {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 5px 10px;
  box-sizing: border-box;
}
.post-sentence p1 {
  opacity: 0.7;
  font-size: 10px;
  margin-bottom: 6px;
}
.post-sentence p {
  font-size: 14px;
}
.user-image {
  margin-right: 10px;
  height: 32px;
  width: 32px;
  padding: 2px;
  border-radius: 16px;
  border: 1px solid #000;
  box-sizing: border-box;
}

.user-image-link {
  height: 100%;
  display: flex;
  align-items: center;
}

.post-images {
  width: 100%;
  overflow: hidden;
  max-height: 500px;
}
.post-images img {
  width: 100%;
}
.item-open{
  max-height: none;
  overflow: visible;
}

.post-sentence {
  max-height: 140px;
  overflow: hidden;
  width: 100%;
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #999;
}

.post-tags {
  overflow: hidden;
  width: auto;

}
.post-tags p {
  color: #555;
  font-size: 12px;
}
.post-tags:hover {
  overflow-x: scroll;
}

.post-bottom {
  height: 30px;
  display: flex;
  align-items: center;
}
.post-bottom span {
  color: #9d9d9d;
  margin-right: 30px;
}

.post-bottom span {
  padding-left: 10px;
}
//編集ページ
.edit-content {
  width: 100%;
}
.un-show {
  display: none;
}
.edit-single-image {
  width:auto;
  height:auto;
  max-width:100%;
  //max-height: 476px;
  position: relative;
  transition: opacity 0.4s;
  cursor: pointer;
}
.edit-image {
  position: relative;
}
.edit-image span{
  display: none;
  transition: display 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 30px;
}
.edit-single-image:hover{
  opacity: 0.7;
}
#image1:checked ~ .image1 {
  opacity: 0.7;
}
#image1:checked ~ span {
  display: block;
}
#image2:checked ~ .image2 {
  opacity: 0.7;
}
#image2:checked ~ span {
  display: inline-block;
}
#image3:checked ~ .image3 {
  opacity: 0.7;
}
#image3:checked ~ span {
  display: inline-block;
}
#image4:checked ~ .image4 {
  opacity: 0.7;
}
#image4:checked ~ span {
  display: inline-block;
}




//画像のみ表示の時
.full-image {
  width: 100%;
  position: absolute;
  display: block;
  //z-index: 1;
}
.image sentence-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.image user-info {
  width: 100%;
  height: 36px;
  top: 0px;
  //z-index: 2;
  background-color: rgba(0, 0, 0, 0.35);
  line-height: 36px;
  display: flex;
}
.image user-info p1 {
  margin-left: 10px;
  color: gray;
}
.image post-item p {
  color: #fff;
  margin: 0;
}
.image post-info {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  bottom: 0;
  //z-index: 2;
  background-color: rgba(0, 0, 0, 0.35);
}
.image post-info p {
  width: 100%;
}
.post-info span {
  margin: 10px 100px 10px 0;
  color: #9d9d9d;
}

//posts/new
#hash-input {
  border: none;
  height: 30px;
  display: inline;
  padding: 0;
  width: 100%;
  font-size: 16px;
  background-color: #fff;
}
.create {
  width: 600px;
  margin: 100px auto;
  position: relative;
}
#post-new-close {
  font-size: 30px;
  position: absolute;
  top: -35px;
  right: 0;
  color: red;
  cursor: pointer;
}
.media-wrapper {
  padding: 5px 10px;
}
.media-wrapper img {
  width: 100%;
}
#camera {
  display: none;
}
.media-wrapper .fa-camera {
  font-size: 30px;
  color: black;
  cursor: pointer;
}
#post-content {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  border: none;
  font-family: cursive;
  background-color: #fff;
}
.hash-wrapper {

}
#hash-input-container {
  position: relative;
  display: inline-block;
  height: 30px;
}

.hash-tag-inputed {
  display: inline-block;
  height: 30px;
  padding: 0;
  margin-right: 10px;
  background-color: #fff;
  line-height: 30px;
  transition: color 0.5s;
  transition: background-color 0.5s;
  padding: 0 5px;
  border-radius: 3px;
}
.hash-tag-inputed:hover {
  color: #00bb85;
  background-color: rgba(100,100,50,0.2);
}

.hashtag-input-wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
#post-tags-input {
  cursor: pointer;
  height: 30px;
  width: 100%;
}
.post-send-btn {
  cursor: pointer;
}

.input-text__dummy {
  display: inline-block;
  overflow: hidden;
  min-width: 1em;
  padding: 3px 5px;
  white-space: nowrap;
  opacity: 0;
}
.input-text__dummy::before {
  content: '';
}
.input-text__dummy:empty::before {
  content: attr(data-placeholder);
}
.input-text {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 2px;
}

/* いいね by Motoya */

#like-btn {
  color: #8899a6;
}
#like-btn-unlike {
  color: #ff2581;
}
