// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-container {
  width: 500px;
  background-color: #fff;
  margin: 10px;
  min-height: 60px;
  //max-height: 600px;
  padding: 0 12px 0 12px;
  box-sizing: border-box;
}
.user-info {
  display: flex;
  align-items: center;
  height: 42px;
  z-index: 3;
}
.user-image {
  margin-right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}
.user-image-link {
  height: 30px;
  display: block;
}
.user-info p {
  margin-right: 10px;
}
.user-info p1{
  margin-left: auto;
  opacity: 0.5;
  font-size: 14px;
}
.post-images {
  display: flex;
  width: 100%;
  flex-wrap:wrap;
  justify-content: space-between;
  flex-basis: auto;
  //height: 476px;
  z-index:0;
}
.image-division {
  width: 50%;
  //height: 270px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  //max-height: 270;
}
.plural-image {
  max-width: 100%;
  box-sizing: border-box;
  z-index: 0;
  padding: 3px;

}
.single-image {
  width:auto;
  height:auto;
  max-width:100%;
  //max-height: 476px;
}
.post-info {
  margin-top: 6px;
  z-index: 3;
  width: 100%;
}
.post-info p {
  border-bottom: 1px solid #999;
}
//編集ページ
.edit-content {
  width: 100%;
}
.edit-single-image {
  width:auto;
  height:auto;
  max-width:100%;
  //max-height: 476px;
  position: relative;
  transition: opacity 0.5s;
}
.edit-single-image:hover{
  //opacity: 0.7;
}
.edit-single-image:active{
  opacity: 0.7;
}



//画像のみ表示の時
.full-image {
  width: 100%;
  position: absolute;
  display: block;
  z-index: 1;
}
.image sentence-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.image user-info {
  width: 100%;
  height: 36px;
  top: 0px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.35);
  line-height: 36px;
  display: flex;
}
.image user-info p1 {
  margin-left: 10px;
  color: gray;
}
.image show-container p {
  color: #fff;
  margin: 0;
}
.image post-info {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.35);
}
.image post-info p {
  width: 100%;
}
.post-info span {
  margin: 10px 100px 10px 0;
  color: #9d9d9d;
}

/* いいね by Motoya */

#like-btn {
  color: #8899a6;
}
#like-btn-unlike {
  color: #ff2581;
}
