// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-container {
  width: 500px;
  min-height: 0px;
  background-color: #9d9d9d;
  margin: 10px;
  min-height: 200px;

}
.show-container img {
  width: 100%;

  position: absolute;

  display: block;
  z-index: 1;
}
.sentence-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.user-info {
  width: 100%;
  height: 36px;
  top: 0px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.35);
  line-height: 36px;
  display: flex;
}
.user-info p1 {
  margin-left: 10px;
  color: gray;
}
.show-container p {
  color: #fff;
  margin: 0;
}
.post-info {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;


  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.35);
}
.post-info p {
  width: 100%;
}
.post-info span {
  margin: 10px 100px 10px 0;
  color: #fff;
}
