// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//文岩
.follow-wrapper {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  height: 40px;
  background-color: gray;
}
.follow-btn {
  height: 30px;
  background-color: #ff4500;
  font-size: 17px;
  line-height: 30px;
  border-radius: 15px;
  padding: 0 5px;
  color: #000;
}
.follow-wrapper p {
  padding: 0;
  margin: 0;
}
.user-show-container {
  display: flex;

}
.sidebar-container-blank {
  width: 200px;
  height: 100%;
}
.sidebar-container {
  background-color: #ddd;
  width: 200px;
  height: 100vh;
  position: fixed;

}
.show-center {
  width: 100%;
}

#show-center{
  width: 100%;
}
.users-show-menubar {
  width: 100%;
  height: 45px;
  background-color: inherit;
  margin: 0 6px 6px 0;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-icon {
  padding: 0 20px;
  height: 100%;
  line-height: 45px;
  position: relative;
  cursor: pointer;
}
.menu-icon span {
  color: #999;
  transition: color 0.5s;
}
.menu-icon-selected {
  z-index: -1;
  width: 0;
  position: absolute;
  background-color: #999;
  top: 0;
  left: 0;
  height: 45px;
  transition: width 0.5s;
}
.menu-icon:hover .menu-icon-selected {
  width: 100%;
}
.menu-icon:hover > span {
  color: #000;
}
.introduce-wrapper{
display: flex;
flex-wrap: wrap;
//height: ;
//background-color: #232f34;
color: white;
padding-top: 15px;
box-sizing: border-box;
width: 600px;
margin: 0 auto;
}

.my{
padding: 5px 15px;
width: 50%;
}

.my p{
margin: 5px 0;
display: block
}

.my info{
display: flex;
}
.user_info p{

}
.profile-image {
  width: 30%;
}
.profile-image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.hobby textarea{
width: 100%;
height: 60px;
border-radius: 10px;
padding: 10px;
background-color: #d9d9d9;
}


/*ã‚¿ãƒ–åˆ‡ã‚Šæ›¿ãˆå…¨ä½“ã®ã‚¹ã‚¿ã‚¤ãƒ«*/
.tabs {
margin-top: 50px;
padding-top: 10px;
padding-bottom: 40px;
//background-color: #232f34;
margin: 0;
//box-sizing: border-box;
//width: 600px;
width: 100%;
}

/*ã‚¿ãƒ–ã®ã‚¹ã‚¿ã‚¤ãƒ«*/
.tab_item {
width: calc(100%/3);
height: 50px;
border-bottom: 3px solid orange;
background-color: #d9d9d9;
line-height: 50px;
font-size: 16px;
text-align: center;
color: black;
display: block;
float: left;
text-align: center;
font-weight: bold;
transition: all 0.2s ease;
position: sticky;
top: 35px;
z-index: 10;
}
.tab_item:hover {
opacity: 0.75;
}

//tabsのボーダー用
.tabs-border {

}

/*ãƒ©ã‚¸ã‚ªãƒœã‚¿ãƒ³ã‚’å…¨ã¦æ¶ˆã™*/
input[name="tab_item"] {
display: none;
}

/*ã‚¿ãƒ–åˆ‡ã‚Šæ›¿ãˆã®ä¸­èº«ã®ã‚¹ã‚¿ã‚¤ãƒ«*/
.tab_content {
display: none;
display: flex;
//spadding: 10px;
clear: both;
overflow: hidden;
//background-color: orange;
justify-content: flex-start;
}
.tab_content show-container {
  width: 100%;
}


/*é¸æŠžã•ã‚Œã¦ã„ã‚‹ã‚¿ãƒ–ã®ã‚³ãƒ³ãƒ†ãƒ³ãƒ„ã®ã¿ã‚’è¡¨ç¤º*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
display: block;
}

/*é¸æŠžã•ã‚Œã¦ã„ã‚‹ã‚¿ãƒ–ã®ã‚¹ã‚¿ã‚¤ãƒ«ã‚’å¤‰ãˆã‚‹*/
.tabs input:checked + .tab_item {
background-color: orange;
color: #fff;
}


.follow-recomend {
  background-color: skyblue;
  color: white;
  height: 40px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.follow-recomend-btn {
  background-color: black;
  height: 36px;
  border-radius: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
}
.main {
  color: white;
}
.users-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.users-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;
}

.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-name a {
  font-weight: 600;
}

.user-name a:hover {
  color: #3ecdc6;
}

.user-left {
  float: left;
  width: 10%;
}

.user-right {
  width: 90%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

/* users/show ================================ */
.user-show {
  text-align: center;
}

.user {
  margin-bottom: 20px;
}

.user img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

.user h2 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.user p {
  color: white;
  font-size: 13px;
  margin-bottom: 15px;
}

.user a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 200;
}

.user span {
  color: #afb6bf;
  font-weight: 200;
  padding: 0 6px 0 8px;
}

.user-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-tabs li {
  float: left;
}

.user-tabs li.active {
  border-bottom: 2px solid #3ecdc6;
}

.user-tabs li.active a {
  color: #57575f;
}

.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}

/* users/new, users/edit ================================ */
.users-form input {
  margin-bottom: 15px;
}

/* ここからhome.scssをコピペ編集

* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}*/

/* 共通レイアウト ================================
body {
  color: #2d3133;
  background-color: #232f34;
  margin: 0;
  min-height: 1vh;
}

.main {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #232f34;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}*/

/* ヘッダー ================================
header {
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: white;
  font-size: 22px;
  line-height: 64px;
}

.header-logo a{
  color: white;
  font-size: 22px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: white;
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: white;
  margin: 0;
  font-size: 13px;
}*/

/* top ================================
.top-main {
  padding: 200px 0 100px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: white;
  background-color: #3ecdc6;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  background-image: url("/top.jpg");
}*/

//.top-message {
  //position: relative;
//}

.top-main h2 {
  font-size: 70px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px;
}

.top-main p {
  font-size: 24px;
}

/* about ================================ */
.about-main {
  padding: 180px 8% 0;
  color: white;
}

.about-main h2 {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.4;
}

.about-main p {
  font-weight: 200;
  font-size: 20px;
}

.about-img {
  width: 84%;
}

/* フォーム================================ */
.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #232f34;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.form-body {
  padding: 30px;
}

.form-error {
  color: #ff4d75;
}

.form input {
  width: 100%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
}

.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  letter-spacing: 2px;
}

.form input[type="submit"] {
  background-color: red;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
  float: right;
}

.form-body:after {
  content: '';
  display: table;
  clear: both;
}

/* フラッシュ ================================ */
.flash {
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}
