<div class="commu-main-container">
  <div class="commu-rule">
    <h3>ルール</h3>
    <%= community.rule %>
  </div>
  <div class="commu-introduce">
    <h3>コミュニティープロフィール</h3>
    <%= community.introduce %>
  </div>
</div>
